{% extends 'base.html' %}

{% block foot %}

<script src="{{ url_for('static', filename='js/cadastrar_coordenador.js') }}"></script>

{% endblock %}

{% block content %}
<h1>wip</h1>
<form id="form">
    <div class="form-group">
      <label for="codigo">Codigo</label>
      <input type="number" class="form-control" id="nome" name="nome" placeholder="Ex: 1">
    </div>
    <div class="form-group">
      <label for="cpf">Cpf</label>
      <input type="number" class="form-control" id="nome" name="nome" placeholder="Ex: 12345678910">
    </div>
    <button class="btn btn-primary" id="enviar">Enviar</button>
</form>
{% endblock %}