{% extends 'base.html' %}

{% block foot %}

<script src="{{ url_for('static', filename='js/todos_cursos.js') }}"></script>

{% endblock %}


{% block content %}


<h1>Todos os Cursos</h1>



<table class="table" id="todosCursos">
  <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Desc</th>
          <th scope="col">Plano Pedagógico</th>
      </tr>
  </thead>
  <tbody>
      
  </tbody>
</table>
<!-- <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div> -->

{% endblock %}